@media (max-width: 1440px)
{
    .stock-man
    {
        width: 400px;
    }

    .last-section:after
    {
        right: 5%;
    }
}

@media (max-width: 1200px)
{
    .navbar .icon-desktop
    {
        display: none;
    }

    .navbar .icon-mobile
    {
        display: block;
    }

    .btn-green, .btn-green-border
    {
        width: 230px;
        height: 50px;
        font-size: 20px;
    }

    .price-item
    {
        width: 290px;
    }

    .last-section:after
    {
        width: 420px;
        height: 420px;
    }

    .stock-man
    {
        right: 25px;
    }
}

@media(max-width: 992px)
{
    .navbar .container
    {
        padding: 0;
    }

    .navbar .menu-item
    {
        margin-left: 15px;
    }

    .plus-item .plus-text
    {
        font-size: 20px;
    }

    .stock-man
    {
        z-index: 0;
    }

    .contact-form-wrapper
    {
        margin: 50px 100px 0 100px;
    }

    .second-card
    {
        width: 55%;
    }

    .prices-wraper
    {
        flex-wrap: wrap;
    }

    .price-item
    {
        margin-top: 25px;
    }

    .last-section:after
    {
        width: 320px;
        height: 320px;
        top: 15%;
    }

    .pluses-list
    {
        font-size: 18px;
    }

    .our-works-slider .slider-item
    {
        width: 720px;
    }
}